#buscar-viaje {
	padding-top: 10px;
	width: 185px;
}

#boton-crear {
	margin-top: 10px;
}

#h4 {
	margin-bottom: 0px;
}

#boton-facebook {
	background-image: url('/resources/img/facebook/sign-in-with-facebook.png');
	height: 25px;
	width: 155px;
}

.forms-content {
	width: 1000px;
	height: 1000px;
}