   <!--Header-->
    <header class="col-md-12">
        <!-- Header Container -->
        <div class="center-col head-container">
            <!-- Header Itself -->
            <div class="col-md-12">
                <!-- Branding Header -->
                <div class="col-md-8">
                    <!-- Logo Container -->
                    <div class="col-md-4 logo-container">
                        <img src="resources/img/logo/Logo-Mayus.png" />
                    </div>
                    <!-- Brand Catchphrase -->
                    <div class="brand-catchphrase col-md-8">
                        <span>
						<!-- ToDo -->
				        </span>
                    </div>
                </div>
                <!-- User Header -->
                <div class="user-header col-md-4">
                    <!-- New Vaquita -->
                    <a class="new-vaquita" href="/create">
                        <div class="col-md-7">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Vaquita
                        </div>
                    </a>
                    <!-- User Access/Profile -->
                    {{#isAthenticate}}
						<div class="col-md-5">
						{{#profileInfo}}
						<img src="http://graph.facebook.com/{{profileInfo.id}}/picture"	alt="profile image" />
						{{/profileInfo}}
							<a href="/signout">Salir</a>
						</div>
                    {{/isAthenticate}}
                    {{^isAthenticate}}
	                    <div class="user-access col-md-5" style="font-size: 16px;">
	                        <div class="col-md-8">
	                            <a href="/access">Accedé</a>
	                        </div>
	                        <div class="col-md-8">
	                            <a href="#">Unite!</a>
	                        </div>
	                    </div>
                    {{/isAthenticate}}
                </div>
            </div>
        </div>
    </header>