<!DOCTYPE html> {{> /WEB-INF/views/templates/header.html}}
<!--Content-->
<div id="index-banner" class="parallax-container para-first">
    <div class="section no-pad-bot">
        <div class="container home-sli-cont" style="background-color:rgba(104, 126, 117, 0.6);margin-top:4.5%;padding:1.5% 0;">
            <br>
            <br>
            <h5 class="header center light-green-text text-accent-1">La vida está llena de celebraciones, de momentos para festejar y regalar.</h5>
            <div class="row center">
                <h6 class="header col s12" style="padding:0 5%;">Ya sea un cumpleaños, una boda, o simplemente una cálida muestra de afecto, en Regalenlo.com queremos ser parte de esos momentos alegres facilitando la colaboración entre las personas.<br/><br/>En tan solo unos simples pasos, llevar a cabo un lindo regalo nunca fué tan fácil.</h6>
            </div>
            <div class="row center">
                <a href="/create" id="download-button" class="btn-large waves-effect waves-orange blue-grey-text text-darken-4 yellow accent-1">¡ Creá una Colecta !</a>
            </div>
            <br>
            <br>

        </div>
    </div>
    <div class="parallax"><img src="/resources/img/background1.jpg" alt="Unsplashed background img 1">
    </div>
</div>


<div class="container" style="margin-top: 30px;">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row home-tutorial">
            <div class="col s6 m3">
                <div class="icon-block icon-block-1">
                    <h2 class="center brown-text"><i class="material-icons">library_add</i></h2>
                    <h5 class="center">Creá</h5>

                    <p class="light flow-text">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block icon-block-2">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Invitá</h5>

                    <p class="light flow-text">By utilizing elements and principles of Material Design, we were able to create a framework.</p>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block icon-block-3">
                    <h2 class="center brown-text"><i class="material-icons">payment</i></h2>
                    <h5 class="center">Juntá</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                </div>
            </div>

            <div class="col s6 m3">
                <div class="icon-block icon-block-4">
                    <h2 class="center brown-text"><i class="material-icons">redeem</i></h2>
                    <h5 class="center">Utilizá</h5>

                    <p class="light flow-text">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                </div>
            </div>
        </div>
        <div class="row center">
            <a href="/create" id="download-button" class="btn-large waves-effect waves-orange blue-grey-text text-darken-4 light-green accent-1"><span style="font-weight:bold;font-size:1.6rem;">+</span> Nueva Colecta</a>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper para-second">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light lime-text text-accent-1">Nos importa tu seguridad y tranquildad, por eso contamos con los medios de pago mas seguros y reconocidos del mercado.</h5>
                <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/785X40.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" style="max-width:785px;height:auto;width:90%;" />
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/resources/img/background2.jpg" alt="Unsplashed background img 2">
    </div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s10 center home-ideas">
                <h4>Algunas Ideas para empezar</h4>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle yellow darken-3 primary-icon">cake<a href="#newVaquita?type=birthday" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons circle red secondary-icon">add</i>
                        </a>
                        </i>
                        <span class="title yellow-text text-darken-3">Cumpleaños</span>
                        <p>
                            Qué mejor momento para realizar un regalo el cumpleaños de quienes mas quieres!
                            <br><span class="light">Organiza un GRAN regalo mediante la colaboración entre amigos y familiares; regalales el agasajo que se merecen.</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green primary-icon">flight<a href="#newVaquita?type=travel" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons circle red secondary-icon">add</i>
                        </a>
                        </i>
                        <span class="title green-text">Viajes</span>
                        <p>
                            Estás pensando tomarte un tiempo? Estás organizando una escapada con amigos?
                            <br><span class="light">Crea una colecta para juntar el dinero de antemano y poder organizar más tranquilo y ordenado.</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red primary-icon">favorite<a href="#newVaquita?type=marriage" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons circle red secondary-icon">add</i>
                        </a>
                        </i>
                        <span class="title red-text">Casamiento</span>
                        <p>
                            Festeja el amor de quienes quieres a lo grande!
                            <br><span class="light">Juntáte con amigos y familiares, y organiza ese regalo que los va a alegrar tanto en esta nueva y emocionante etapa da la vida!</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle blue-grey darken-1 primary-icon">school<a href="#newVaquita?type=school" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons circle red secondary-icon">add</i>
                        </a>
                        </i>
                        <span class="title blue-grey-text text-darken-1">Recibida</span>
                        <p>
                            Se acaba una gran etapa, y comienza otra muy emocionante.
                            <br><span class="light">Felicita a quienes comienzan su vida profesional. Organiza una colecta y hazles un regalo que marque este nuevo comienzo.</span>
                        </p>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle light-blue darken-1 primary-icon">home<a href="#newVaquita?type=move" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons circle red secondary-icon">add</i>
                        </a>
                        </i>
                        <span class="title light-blue-text text-darken-1">Nuevo Hogar</span>
                        <p>
                            Nunca es fácil mudarse, pero siempre es una aventura.
                            <br><span class="light">Organiza una colecta para felicitar con un regalo a quienes estan estrenando un nuevo hogar.</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper para-third" style="border-bottom:1px solid green;">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <div class="col s12 l8 para-third-cont blue-grey lighten-4">
                    <div class="row s12 valign-wrapper">
                        <div class="col s1 l1 m1 valign">
                            <i class="material-icons small">star</i>
                        </div>
                        <div class="col s10 l10 m10">
                            <p class="grey-text text-darken-3">Simple: Nuestra cultura es lograr que la colaboración sea más simple que nunca.</p>
                        </div>
                    </div>
                    <div class="row s12 valign-wrapper">
                        <div class="col s1 l1 m1 valign">
                            <i class="material-icons small">lock</i>
                        </div>
                        <div class="col s10 l10 m10">
                            <p class="grey-text text-darken-3">Seguro: La seguridad es nuestra prioidad, por eso contamos con los medios mas avanzados y seguros de pago disponibles hoy en día</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/resources/img/background3.jpg" alt="Unsplashed background img 3">
    </div>
</div>
{{> /WEB-INF/views/templates/footer.html}}