<!DOCTYPE html> {{> /WEB-INF/views/templates/header.html}}
<!--Content-->

<div class="parallax-container valign-wrapper para-steps1">
    <div class="section no-pad-bot">
        <div class="container">

        </div>
    </div>
    <div class="parallax"><img src="/resources/img/background2.jpg" alt="Unsplashed background img 2">
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s10 center home-ideas">
                <h4>Nueva Vaquita: Paso 2 - Configuración</h4>
            </div>
        </div>
        <div class="row">
                <div class="row">
                    <div class="col s12 m10 l8" style="margin:0 auto; float:none;">
                        <form action="/create_second" method="POST" class="vaquita-paso2">
                            <fieldset id="participationDetails">
                                <h5>Participación</h5>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input class="with-gap" name="contributionField" type="radio" id="contr1" checked="checked" />
                                        <label for="contr1">Comisión a cargo del organizador</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input class="with-gap" name="contributionField" type="radio" id="contr2" />
                                        <label for="contr2">Comisión a cargo del Colaborador</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <hr style="width:90%;margin:0 auto;">
                                <div class="col s12" style="margin:15px 0;">
                                    <div class="col s11" style="text-align:left;">
                                        <p class="step2-fixer">
                                            <input type="checkbox" id="endDate" name="endDateCheck" onchange="requiredChanger('endDateValue',this)" />
                                            <label for="endDate">Fecha de finalización</label>
                                        </p>
                                        <p>
                                            <input id="endDateValue" name="endDate" style="width:80%;display:block;margin:0 auto;" disabled="disabled" type="date" class="datepicker">
                                        </p>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <hr style="width:90%;margin:0 auto;">
                                <div class="col s12" style="padding:0px !important;">
                                    <div class="col s12">
                                        <div class="col s11" style="text-align:left;">
                                            <p class="step2-fixer">
                                                <input id="fixedAmmount" type="radio" value="FIXED" name="contributionType" onchange="changeInput('contAmmFixed','contAmmSug',this);" checked="checked" />
                                                <label for="fixedAmmount">Monto Fijo</label>
                                                <div class="step2-fixer2">
                                                    <input class="inline-block-vaquita" id="contAmmFixed" type="number" name="contributionAmmount" size="5" numeric="" required="" />
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col s1 valign-wapper valign">
                                            <i class="material-icons valign">help_outline</i>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s11" style="text-align:left;">
                                            <p class="step2-fixer">
                                                <input id="suggestedAmmount" type="radio" value="SUGGESTED" name="contributionType" onchange="changeInput('contAmmSug','contAmmFixed',this);">
                                                <label for="suggestedAmmount">Monto Sugerido</label>
                                                <div class="step2-fixer2">
                                                    <input class="inline-block-vaquita" id="contAmmSug" type="number" name="contributionAmmount" size="5" numeric="" disabled="">
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col s1 valign-wapper valign">
                                            <i class="material-icons valign">help_outline</i>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s11" style="text-align:left;">
                                            <p class="step2-fixer">
                                                <input id="openAmmount" type="radio" value="OPEN" name="contributionType" onchange="disableInput('contAmmSug','contAmmFixed',this);">
                                                <label for="openAmmount">Monto Libre</label>
                                            </p>
                                        </div>
                                        <div class="col s1 valign-wapper valign">
                                            <i class="material-icons valign">help_outline</i>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="privacyDetails">
                                <h5>Privacidad</h5>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="showParticipantName" type="checkbox" id="showColaborator" checked="checked" onchange="requiredChanger('showContr',this)" />
                                        <label for="showColaborator">Mostrar Participantes</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="showParticipantContribution" type="checkbox" id="showContr" />
                                        <label for="showContr">Mostrar monto aportado</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="showTotalAmmount" type="checkbox" id="totalAmm" />
                                        <label for="totalAmm">Mostrar total recaudado</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="additionalOptions">
                                <h5>Opciones Adicionales</h5>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="isPublic" type="checkbox" id="publicVaquita" value="true" />
                                        <label for="publicVaquita">Colecta Publica</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <p class="step2-fixer">
                                            <input name="moneyTargetCheck" type="checkbox" value="true" id="targetAmmount" onchange="requiredChanger('targetAmmountValue',this)" />
                                            <label for="targetAmmount">Objetivo a alcanzar</label>
                                            <div class="step2-fixer2">
                                                <input class="inline-block-vaquita" id="targetAmmountValue" type="number" name="moneyTarget" size="5" numeric="" disabled="">
                                            </div>
                                        </p>

                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="openMessage" type="checkbox" id="openMessageCheck" />
                                        <label for="openMessageCheck">Habilitar Mensaje con la partcipación</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="showMessageWall" type="checkbox" id="messageWallCheck" />
                                        <label for="messageWallCheck">Mostrar Mensajes de partcipantes</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <div class="col s11" style="text-align:left;">
                                        <input name="notifyEmail" type="checkbox" id="notifEmailCheck" />
                                        <label for="notifEmailCheck">Notificarme por Email las nuevas partcipaciones</label>
                                    </div>
                                    <div class="col s1 valign-wapper valign">
                                        <i class="material-icons valign">help_outline</i>
                                    </div>
                                </div>
                            </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center">
                        <button class="btn waves-effect green waves-light" type="submit" name="action" style="width:30%">Paso 3 > Compartir
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="parallax-container valign-wrapper para-steps2" style="border-bottom:1px solid green;margin-top:45px;">
    <div class="section no-pad-bot">
        <div class="container">

        </div>
    </div>
    <div class="parallax"><img src="/resources/img/background1.jpg" alt="Unsplashed background img 1">
    </div>
</div>


{{> /WEB-INF/views/templates/footer.html}}