<!DOCTYPE html>
	{{> /WEB-INF/views/templates/header.html}} 
    <!--Content-->
    <div class="parallax-container valign-wrapper para-steps1">
        <div class="section no-pad-bot">
            <div class="container">

            </div>
        </div>
        <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2">
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s10 center home-ideas">
                    <h4>Felicitaciones, tu Vaquita ha sido creada!</h4>
                </div>

                <p style="width:80%;text-align:center;margin:0 auto;">Asegurate de compartir la vaquita con tus amigos y contactos para que puedan aportar a la misma!
                </p>
            </div>
            <div class="parallax-container valign-wrapper para-steps1-part">
                <div class="section no-pad-bot">
                    <div class="container">

                    </div>
                </div>
                <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1">
                        <img src="logo.png" style="width:100%;">
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m8 s12 offset-l3 offset-m2">
                        <h5 style="text-align:center; ">Vaquita para el Cumpleaños de Fulano</h5>
                        <h6 style="text-align:center"><span class="blue-grey-text text-lighten-3 "><i>Organizado para</i> </span>Fulano</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col l10 m12 s12 offset-l1">
                        <p>Aca va la descripcion bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col l4 m6 s10 offset-l4 offset-m3 offset-s1">
                    <a style="width:100%" class="amber lighten-1 btn modal-trigger" href="#participationModal">Modal</a>
                </div>
            </div>

        </div>
    </div>
    <div class="parallax-container valign-wrapper para-steps1-part">
        <div class="section no-pad-bot">
            <div class="container">

            </div>
        </div>
        <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s2"><a class="active" href="#invite">Invitar</a>
                </li>
                <li class="tab col s2"><a href="#resend">Recordar</a>
                </li>
                <li class="tab col s2 "><a href="#edit">Editar</a>
                </li>
                <li class="tab col s2"><a class="white btn">Terminar</a>
                </li>
                <li class="tab col s4"><a href="#cashOut">Cobrar</a>
                </li>
            </ul>
        </div>
        <div class="parallax-container valign-wrapper para-steps1">
            <div class="section no-pad-bot">
                <div class="container">

                </div>
            </div>
            <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2">
            </div>
        </div>
        <div id="invite" class="col s12">
            <!--Invitar-->
        </div>
        <div id="resend" class="col s12">
            <!--Recordar-->
        </div>
        <div id="edit" class="col s12">
            <!--Editar-->
        </div>
        <div id="cashOut" class="col s12">
            <!--Cobrar-->
        </div>
    </div>
    <div class="parallax-container valign-wrapper para-steps2" style="border-bottom:1px solid green;margin-top:45px;">
        <div class="section no-pad-bot">
            <div class="container">

            </div>
        </div>
        <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1">
        </div>
    </div>
    <!-- Participate Modal -->
    <div id="participationModal" class="modal">
        <div class="modal-content">
            <p>
                Texto descriptivo de la participación
            </p>
            <form action="/participate" method="POST">
                <div class="row">
                    <div class="col s12">
                        <div class="input-field col s12">
                            <label for="participantName"><span style="color:red">*</span>Tu Nombre:</label>
                            <input id="participantName" required="required" type="text" name="participantName">
                        </div>
                        <div class="input-field col s12">
                            <label for="participMessage">Mensaje:</label>
                            <textarea id="participMessage" class="materialize-textarea" length="450" name="participMessage"></textarea>
                        </div>
                        <div class="input-field col s12">
                            <label for="participantEmail"><span style="color:red">*</span>Email:</label>
                            <input id="participantEmail" required="required" type="email" name="participantEmail">
                        </div>
                        <div class="input-field col s12">
                            <label for="participantContr"><span style="color:red">*</span>Contribución:</label>
                            <input id="participantContr" required="required" type="number" name="participantContr">
                        </div>
                        <div class="input-field col s12">
                            <label for="participantContrTotal">Comisión: <span>$7.50</span> (7.5%)</label>
                            <input style="display:none;" id="participantContrTotal" type="number" name="participantContrTotal">
                        </div>
                        <div class="input-field col s12">
                            <label for="participantContrTotal">Total: <span>$92.50</span></label>
                            <input style="display:none;" id="participantContrTotal" type="number" name="participantContrTotal">
                        </div>
                    </div>
                </div>
                <div class="col s12 center">
                    <button class="btn waves-effect green waves-light" type="submit" name="action" style="width:30%">Participar
                    </button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            Terminos y condiciones, bla bla bla.
        </div>
    </div>
</body>

<script type="text/javascript">
function popitup(url) {
	newwindow=window.open(url,'name','height=470,width=500');
	if (window.focus) {newwindow.focus()}
	return false;
}
</script>

</html>
